body {
margin: 0;
padding: 0;
font-family: arial, verdana, helvetica, sans-serif;
font-size: 100%;
font-weight: normal;
color: #000000;
scrollbar-face-color:#9999cc;
scrollbar-arrow-color:#333333;
scrollbar-track-color:#cccccc;
scrollbar-shadow-color:#666699;
scrollbar-highlight-color:'';
scrollbar-3dlight-color:#9999cc;
scrollbar-darkshadow-color:#333333;
}

h1 {
font-family: arial, verdana, helvetica, sans-serif;
font-size: 150%;
line-height: 100%;
font-weight: normal;
color: #666699;
margin-top: 2px; 
margin-bottom: 2px; 
}

h2 {
font-family: arial, verdana, helvetica, sans-serif;
font-size: 125%;
font-weight: normal;
color: #666699;
}

h3 {
font-family: arial, verdana, helvetica, sans-serif;
font-size: 110%;
font-weight: normal;
color: #666699;
}

p {
font-family: arial, helvetica, sans-serif;
font-size: 84%;
line-height: 125%;
font-weight: normal;
color: #000000;
}

p.quote {
font-family: arial, helvetica, sans-serif;
font-size: 84%;
line-height: 125%;
font-weight: normal;
color: #666699;
}

p.larger-white {
font-family: georgia, times new roman, times, sans-serif;
font-size: 120%;
line-height: 125%;
font-weight: bold;
color: #ffffff;
}

p.smaller {
font-family: arial, verdana, helvetica, sans-serif;
font-size: 72%;
line-height: 125%;
font-weight: normal;
color: #000000;
}

p.crawler {
font-family: arial, helvetica, verdana, sans-serif;
font-size: 72%;
font-weight: bold;
color: #000000;
letter-spacing: 0;
}

b {
  font-weight: bold;
}

ul {
list-style-type: disk; 
font-size: 84%;
font-family: arial, verdana, helvetica, sans-serif;
line-height: 130%;
font-weight: normal;
color: #000000;
}

ol {
list-style-type: decimal; 
font-size: 84%;
font-family: arial, verdana, helvetica, sans-serif;
line-height: 130%;
font-weight: normal;
color: #000000;
}

ol.navigate {
font-family: arial, helvetica, sans-serif;
font-size: 84%;
font-weight: normal;
color: #000000;
background-color: transparent;
margin-top: 1px; 
margin-bottom: 1px; 
}

a {
text-decoration: none;
}

a:link {
color: #0033cc;
}

a:active {
color: #0066ff;
}

a:visited {
color: #336699;
}

a:hover {
color:#0066ff;
}

